elevenlabs==1.13.3
requests==2.31.0
streamlit==1.40.2
tqdm==4.66.2
transformers==4.40.1
google-generativeai==0.8.3
python-dotenv==1.0.1
EbookLib==0.18
beautifulsoup4==4.12.3
llama-index
llama-index-embeddings-huggingface
llama-index-llms-gemini